@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Movie App</h1>
<p>A simple MVC .net core app that use a fake sql DB, where allow user to operate a crud operations.</p>
<p>
    <a asp-area="" asp-controller="Movies" asp-action="Index"> Click here </a> for a great list of movies.
</p>